name: Polyquant clang-format check
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    tags:
      - 'v*'

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check for Polyquant.
      uses: jidicula/clang-format-action@v4.11.0
      with:
        clang-format-version: '14'
        check-path: 'src'
